/*
:resolution 1280x800
*/

.cssBG /*background layer*/
{
position: fixed;
bottom: 0px;
left: 0px;
height: 220px;
max-height: 220px;
width: 100%;
background-color: rgba(80,185,207,.55);
overflow: hidden;
z-index: 1;
}

.onlay /*background layer 2*/
{
position: fixed;
bottom: 0px;
left: 5px;
height: 70px;
max-height: 70px;
width: 99%;
background-color: rgba(64,149,167,.8);
overflow: hidden;
z-index: 1;
}

div.numbers /*number keys*/
{
background-color: rgb(33,89,104);
height: 67px;
width: 100px;
max-height: 67px;
position: fixed;
text-align: center;
font-family: "calibri";
font-size:50px;
color: white;
border-radius: 5px;
overflow: hidden;
z-index: 1;
}

div.xvar /*x variable key*/
{
background-color: rgb(33,89,104);
height: 136px;
width: 120px;
position: fixed;
text-align: center;
font-family: "calibri";
font-size:50px;
color: white;
border-radius: 5px;
overflow: hidden;
z-index: 1;
}

div.parenthesesDivision /*parentheses keys*/
{
background-color: rgb(33,89,104);
height: 67px;
width: 100px;
position: fixed;
text-align: center;
font-family: "calibri";
font-size:50px;
color: white;
border-radius: 5px;
overflow: hidden;
z-index: 1;
}

div.plusMinus /*plus & minus keys*/
{
background-color: rgb(33,89,104);
height: 67px;
width: 150px;
position: fixed;
text-align: center;
font-family: "calibri";
font-size:50px;
color: white;
border-radius: 5px;
overflow: hidden;
z-index: 1;
}

div.close /*close button*/
{
background-color: rgb(147,205,221);
height: 30px;
width: 80px;
position: fixed;
text-align: center;
font-family: "calibri";
font-size:20px;
color: white;
border-style:solid;
border-color: rgb(33,89,104);
overflow: hidden;
left:0px;
bottom:218px;
z-index: 1;
}

div.enter /*enter button*/
{
background-color: rgb(0,128,0);
height: 50px;
width: 210px;
position: fixed;
text-align: center;
font-family: "calibri";
font-size:40px;
color: white;
overflow: hidden;
left:700px;
bottom:8px;
z-index: 1;
}

div.backspace /*backspace key*/
{
background-color: rgb(183,222,232);
height: 40px;
width: 200px;
position: fixed;
text-align: center;
font-family: "calibri";
font-size:29px;
color: rgb(52,130,147);
overflow: hidden;
left:70px;
bottom:14px;
z-index: 1;
}

#triangle-left /*backspace triangle*/
{
position: fixed;
width: 0;
height: 0;
border-top: 20px solid transparent;
border-right: 25px solid rgb(183,222,232);
border-bottom: 20px solid transparent;
overflow: hidden;
left:45px;
bottom:14px;
z-index: 1;
}

#triangle-right /*enter triangle*/
{
position: fixed;
width: 0;
height:0;
border-top: 25px solid transparent;
border-left:30px solid rgb(0,128,0);
border-bottom: 25px solid transparent;
overflow: hidden;
left:909px;
bottom:8px;
z-index: 1;
}

#keyboardUI{visibility:hidden;}
#zero{left:11px;bottom:147px;}
#one{left:115px;bottom:147px;}
#two{left:221px;bottom:147px;}
#three{left:325px;bottom:147px;}
#four{left:431px;bottom:147px;}
#five{left:11px;bottom:78px;}
#six{left:115px;bottom:78px;}
#seven{left:221px;bottom:78px;}
#eight{left:325px;bottom:78px;}
#nine{left:431px;bottom:78px;}
#openparen{left:659px;bottom:147px;}
#closeparen{left:764px;bottom:147px;}
#division{left:869px;bottom:147px;}
#plus{left:659px;bottom:78px;}
#minus{left:819px;bottom:78px;}
