/* Override edx's button styles so that CTAT's button interaction and coloring
works as intended */
div[data-block-type=stattutor] button {
    display: inline-block;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    background-image: initial;
    box-shadow: initial;
    font: inherit;
    padding: 0 6px 0 6px;
    text-shadow: initial;
}
div[data-block-type=stattutor] button[focus] {
    background-image: initial;
}
div[data-block-type=stattutor] button[disabled] {
    background-image: initial;
}
div[data-block-type=stattutor] button:hover {
    background-image: initial;
}
div[data-block-type=stattutor] button:hover.CTAT-hint-button--hover {
    background-image: initial;
    background-color: #E6C200;
}
div[data-block-type=stattutor] button:focus {
    background-image: initial;
    box-shadow: none;
}