html
{
	width: 100%;
	height: 100%;
}

body 
{
	margin: 0;
	padding: 0;
	text-align: center; /* !!! */
	background-color:#cccccc;
	width: 100%;
	height: 100%;	
}

.container 
{ 
	width: 320px;
	height: 200px; 		  
	box-shadow: 10px 10px 5px #888888;
	z-index: 0;
	position: relative;
	margin: auto;
	vertical-align: middle;
}

canvas
{
	border: 1px solid black; 
	background-color: #ffffff;
	z-index: 1;
	position: relative;		
}	

.shadow
{
	box-shadow: 5px 5px 5px #888888;	
}

.ui-widget-content 
{
	border: 1px solid #aaaaaa;
	background: #ffffff url(skindata/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color: #222222;
	font-size: 10px;
}

.ui-widget-content a 
{
	color: #222222;
	font-size: 12px;
}	

.topbtn 
{
	text-decoration:none;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-weight: bold;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	background: #7d9c95;
	padding: 5px 18px 5px 11px;
	border: solid #000000 1px;
	text-decoration: none;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
	
	cursor: pointer; cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 	
}

.topbtnselected 
{
	text-decoration:none;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-weight: bold;
	font-family: Arial;
	color: #891b08;
	font-size: 14px;
	background: #ebebe9;
	padding: 5px 18px 5px 11px;
	border: solid #000000 1px;
	text-decoration: none;
	height: 28px;
	
	cursor: pointer; cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.topbtn:hover 
{
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
	
	cursor: pointer; cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 	
}

.btn 
{
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 17px;
	background: #7d9c95;
	padding: 5px 18px 5px 11px;
	border: solid #000000 1px;
	text-decoration: none;
  
	cursor: pointer; cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.btn:hover 
{
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
	
	cursor: pointer; cursor: hand;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 	
}

.header
{
	width: 558px; 
	height: 152px; 
	background: #f5f5f2; 
	border-left: 1px solid #000000; 
	border-right: 0px solid #000000; 
	border-top: 1px solid #000000; 
	border-bottom: 1px solid #000000; 
	border-top-left-radius: 6px; 
	border-bottom-left-radius: 6px; 
	margin: 0px; 
	padding:10px;
}

.question_title
{
	line-height: 25px; 
	vertical-align: middle;
	font-weight: bold; 
	font-family: Arial; 
	color: #891b08;
	width: 570px; 
	height: 25px; 
	background: #ece9d8; 
	border-left: 1px solid #000000; 
	border-right: 0px solid #000000; 
	border-top: 1px solid #000000; 
	border-bottom: 1px solid #000000; 
	border-top-left-radius: 6px; 
	border-bottom-left-radius: 6px; 
	margin: 0px; 
	padding:4px;
}

div.work_area 
{
	width: 97%;
	height: 350px;
	background: #f5f5f2;
	padding: 5px;
}

.CTATRadioButton
{ 
	width: auto; 
}

.icon-box
{ 
	background:url('images/icons/box.svg') no-repeat center center; 
}

.icon-partial
{ 
	background:url('images/icons/box_partial.svg') no-repeat center center; 
}
