/* Size the StatTutor frame to fill the alotted area */
.stattutor-frame {
   width: 100%; /* 900px; */
   height: 750px;
   margin: 0 auto;
}

/* Clobber edx spacing for the work plan to that the items align correctly */
#work_plan, #work_plan * {
    margin: 0;
    padding: 0;
    padding-left: 0;
    list-style: none;
}
/* Clobber edx's styles so that easyui tabs are rendered property */
#description_tabs li {
    list-style: none;
    margin: 0 4px 0 0;
}
/* Get the easyui tabs to position correctly */
#description_tabs ul {
    padding-left: 4px;
}
/* Get lists in StatTutor to space better, clobbering other overrides */
#main ul {
    padding-left: 40px;
    margin: 12px 0;
}
/* Fix easyui tabs for instructions in Conduct Analysis panels */
#main div[id$="instructions"] ul.tabs {
    padding-left: 4px;
    margin: 0;
}
#main div[id$="instructions"] ul.tabs>li {
    list-style: none;
    margin: 0 4px 0 0;
}
/* Fix edx's setting for paragraphs */
#main p {
    margin: 12px 0;
}
/* Fix edx's setting for text inputs which ruin StatTutor's spacing */
#main input[type="text"] {
    margin: 0;
    padding: 0 2px;
    height: initial;
    border-radius: 5px;
    background-color: white;
}
/* reassert disabled color, which edx sets to white */
#main input[type="text"][disabled] {
    background-color: #F2F2F2;
}
#main textarea[disabled] {
    background-color: #F2F2F2;
    color: #424242;
}

/* Set the size of the work area (main section for student work) */
div.work_area 
{
    width: 97%;
    height: 350px;
    background: #f5f5f2;
    padding: 5px;
}

.CTATRadioButton { width: auto; }

.CTATComboBox { display:inline-block;width:auto; height:auto;}
.CTATTextArea { margin: 5px; width: 90%; height: 8em; }
.CTATTextField {
    margin: 5px;
    width: 90%;
    min-height: 5em;
    border: 1px solid darkgrey;
    padding: 3px;
}
.icon-box { background:url('images/icons/box.svg') no-repeat center center; }
.icon-partial {
    background:url('images/icons/box_partial.svg') no-repeat center center;
}
.CTAT-text { overflow: auto; }

.WorkPlanLevel0 { font-size: 1.2em; font-weight: bold; }
.WorkPlanLevel1 { font-size: 1em;}
.WorkPlanLevel2 { font-size: .8em; }
.WorkPlanDisabled { color: grey; }

.ReminderText {
    width:90%;
    height:8em;
    background:#EBEBEB;
    border:1px solid grey;
    overflow-y: auto;
}
.VariableName { font-weight: bold; }
.Submit_and_Reveal { margin:5px; width:200px; }
.ThoughtArea { visibility: hidden; }

h3.your_answer { color: blue; }
h3.our_answer { color: green; }

div[data-block-type=stattutor] th { text-align: center; }
textarea.CTAT-text { overflow-y: auto; }
span.CTAT-hint { color: orange; }
span.CTAT-correct { color: limegreen; font-weight: bold; }
span.CTAT-incorrect { color: red; font-weight: bold; }
div.instructions { margin-left: 10px; margin-right: 10px; }
div.meaningful_display { margin-left: 30px; position: relative; }
div.meaningful_display_radio {
    position: absolute; left: 28px; display: inline-block;
}
